@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?weather");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.weather-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  height: 500px;
  background-color: rgba(221, 221, 221, 0.63);
  border-radius: 20px;
  overflow: hidden;
}
.weather-container img {
  width: 40%;
  height: 107%;
  -o-object-fit: cover;
     object-fit: cover;
}
.weather-container .weather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.weather-container .weather-info .search-bar {
  outline: none;
  border: none;
  width: 300px;
  height: 40px;
  padding: 10px;
  background-color: #043565;
  color: #fffdf7;
  border-radius: 10px;
}
.weather-container .weather-info .search-bar::-webkit-input-placeholder {
  color: #fffdf7;
  letter-spacing: 1px;
  opacity: 0.5;
}
.weather-container .weather-info .search-bar::-moz-placeholder {
  color: #fffdf7;
  letter-spacing: 1px;
  opacity: 0.5;
}
.weather-container .weather-info .search-bar:-ms-input-placeholder {
  color: #fffdf7;
  letter-spacing: 1px;
  opacity: 0.5;
}
.weather-container .weather-info .search-bar::-ms-input-placeholder {
  color: #fffdf7;
  letter-spacing: 1px;
  opacity: 0.5;
}
.weather-container .weather-info .search-bar::placeholder {
  color: #fffdf7;
  letter-spacing: 1px;
  opacity: 0.5;
}
.weather-container .weather-info button {
  width: 300px;
  height: 40px;
  padding: 10px;
  background-color: #043565;
  color: #fffdf7;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.weather-container .weather-info button:hover, .weather-container .weather-info button:focus {
  width: 300px;
  background-color: rgba(4, 53, 101, 0.7882352941);
}
.weather-container .weather-info h2 {
  color: #043565;
  font-size: 27px;
}
.weather-container .weather-info .temp {
  font-size: 30px;
  font-weight: bold;
}
.weather-container .weather-info .description {
  text-transform: capitalize;
}
.weather-container .weather-info .icon {
  width: 70px;
}
.weather-container .weather-info span {
  color: #043565;
}