$bg-color: #043565;
$light-color: rgba(221, 221, 221, 0.63);
$text-color: #fffdf7;
$font-style: "Poppins", sans-serif;
$bg-img: url("https://source.unsplash.com/1600x900/?weather");
$hover-color: #043565c9;
$trans: 0.5s;

// Width & H
$m-w: 100vw;
$m-h: 100vh;
